<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="irAtras()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Entrenamiento</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarConfirmarFinalizar = true" [disabled]="totalSeries === 0">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        Terminar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light">
  <ion-loading [isOpen]="guardando" message="Guardando..."></ion-loading>

  <div class="equipment-tabs" *ngIf="equiposConSeries.length > 1">
    <div
      *ngFor="let eq of equiposConSeries; let i = index"
      class="equipment-tab"
      [class.active]="i === indiceEquipoActual"
      [class.has-sets]="eq.series.length > 0"
      (click)="irAEquipo(i)">
      <span class="tab-name">{{ eq.equipo.alias_personalizado }}</span>
      <span class="tab-sets" *ngIf="eq.series.length > 0">{{ eq.series.length }}</span>
    </div>
  </div>

  <div class="workout-card" *ngIf="equipoActual">
    <div class="card-header">
      <h2>{{ equipoActual.equipo.alias_personalizado }}</h2>
      <p>{{ equipoActual.equipo.nombre_ejercicio }} · {{ equipoActual.equipo.tipo_unidad }}</p>
    </div>

    <div class="last-set-info" *ngIf="equipoActual.ultimaSerie">
      <span class="last-set-placeholder">{{ obtenerDisplayUltimaSerie() }}</span>
    </div>

    <div class="sets-list">
      <div
        *ngFor="let serie of equipoActual.series"
        class="set-item"
        [class.failure]="serie.hasta_falla">
        <span class="set-number">{{ serie.numero_serie }}</span>
        <span class="set-details">{{ obtenerDisplaySerie(serie) }}</span>
        <ion-icon *ngIf="serie.hasta_falla" name="flame" color="danger"></ion-icon>
        <ion-icon *ngIf="serie.notas_serie" name="chatbubble-outline" color="medium"></ion-icon>
      </div>
    </div>

    <div class="quick-set-buttons">
      <div class="weight-row">
        <span class="weight-label">Peso</span>
        <div class="quick-buttons">
          <ion-button
            size="small"
            (click)="agregarSerie(indiceEquipoActual, equipoActual.ultimaSerie?.valor_peso || 0, equipoActual.ultimaSerie?.cantidad_reps || 8, false)">
            + Reps
          </ion-button>
          <ion-button
            size="small"
            color="danger"
            (click)="agregarSerie(indiceEquipoActual, equipoActual.ultimaSerie?.valor_peso || 0, equipoActual.ultimaSerie?.cantidad_reps || 8, true)">
            Fallar
          </ion-button>
        </div>
      </div>
    </div>

    <div class="quick-navigation" *ngIf="equiposConSeries.length > 1">
      <ion-button fill="outline" (click)="irAnterior()" [disabled]="indiceEquipoActual === 0">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        Anterior
      </ion-button>
      <span class="equipment-counter">{{ indiceEquipoActual + 1 }} / {{ equiposConSeries.length }}</span>
      <ion-button fill="outline" (click)="irSiguiente()" [disabled]="indiceEquipoActual === equiposConSeries.length - 1">
        Siguiente
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </div>
  </div>

  <ion-alert
    [isOpen]="mostrarConfirmarFinalizar"
    header="Terminar Entrenamiento"
    [message]="'Registraste ' + totalSeries + ' series. ¿Querés guardar?'"
    [buttons]="cancelarBotones">
  </ion-alert>
</ion-content>
